active-record/.gradle
active-record/.idea
active-record/build

orm/.gradle
orm/.idea
orm/build

lab-rx/.gradle
lab-rx/.idea
lab-rx/build
lab-rx/photos

lab-gui-gallery/.gradle
lab-gui-gallery/.idea
lab-gui-gallery/build
lab-gui-gallery/photos

lab-mvp/.gradle
lab-mvp/.idea
lab-mvp/build
lab-mvp/.run

lab-command/.gradle
lab-command/.idea
lab-command/build
lab-command/.run